@{
    ViewData["Title"] = "Main Page";
}

<div class="main-info">
    <div class="title"><i>FITNESS APPLICATION</i></div>
    <div class="center"><b>TRAIN THE</b></div>
    <div class="center info">FIGHTER IN YOU</div>
</div>