<div class="Join" id="join-us">
    <div class="left-j">
        <hr />

        <div>
            <span class="stroke-text">READY TO</span>
            <span> LEVEL UP</span>
        </div>

        <div>
            <span>YOUR BODY</span>
            <span class="stroke-text"> WITH US?</span>
        </div>
    </div>
    
    <div class="right-j">
        <a class="btn btn-j" asp-controller="Identity" asp-action="Login">Join Now</a>
    </div>
</div>