@model FitnessApp.Core.Foods.Food
@{
    ViewData["Title"] = "Food Details";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>


<div class="card">
    <div class="image-container">
        <img src="@Model.Image" class="card-img-top" alt="FoodImage">
    </div>
    <div class="content">
        <h2 style="color: black;">@Model.Title</h2>
        <div style="color: black;" class="summary">
            @{
                // Remove <a> tags from Model.Description
                string descriptionWithoutAnchorTags = System.Text.RegularExpressions.Regex.Replace(Model.Description, @"<a\b[^>]*>(.*?)</a>", "");
            }
            @Html.Raw(descriptionWithoutAnchorTags)
        </div>
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: row;
        max-width: 1000px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }

    .image-container {
        flex: 0 0 auto;
    }

    .card-img-top {
        width: 200px;
        height: auto;
    }

    .content {
        flex: 1;
        padding: 20px;
    }

    h2 {
        margin-top: 0;
    }

    .summary {
        margin-top: 10px;
    }
</style>